<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
  <add
    name="HospitalDb"
    connectionString="Data Source=sql5112.site4now.net;Initial Catalog=db_acd455_hospital;User Id=db_acd455_hospital_admin;Password=Amlak@7703;Encrypt=True;TrustServerCertificate=True;"
    providerName="System.Data.SqlClient" />
</connectionStrings>

  <appSettings>
    <!-- WebForms validators: use classic client script (no jQuery ScriptResourceMapping required). -->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!-- Replace placeholders with real SMTP values for local testing. Do not commit real passwords. -->
    <add key="smtpHost" value="smtp.gmail.com" />
    <add key="smtpPort" value="587" />
    <add key="smtpUser" value="malakallahalsadi777@gmail.com" />
    <add key="smtpPassword" value="pzzk jyjn ugqg hkiq" />
    <add key="smtpEnableSsl" value="true" />
    <add key="smtpFrom" value="malakallahalsadi777@gmail.com" />
  </appSettings>

  <system.web>

    <compilation debug="false" targetFramework="4.8" />

    <customErrors mode="RemoteOnly" />

    <httpRuntime targetFramework="4.8" />

    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="60" slidingExpiration="true" />
    </authentication>

    <authorization>
      <deny users="?" />
    </authorization>

    <pages
      validateRequest="true"
      controlRenderingCompatibilityVersion="4.0"
      clientIDMode="Predictable" />

  </system.web>

  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

</configuration>
